@import '../globalStyle.css';

.Home {
  column-count: 3;
  padding: 20px 5% 50px 5%;
}

.Home.center {
  display: flex;
  justify-content: center;
  padding: 20px 5% 50px 5%;
}

@media (min-width: 1400px) {
  .Home {
    column-count: 4;
  }
}

@media (max-width: 924px) {
  .Home {
    column-count: 2;
    padding: 20px 10% 50px 10%;
  }
}

@media (max-width: 687px) {
  .Home {
    padding: 20px 2% 50px 2%;
  }
}

@media (max-width: 570px) {
  .Home {
    column-count: 1;
    padding: 20px 5% 50px 5%;
  }
}
